.Skills-container {
    height: 100vh;
    margin: auto;
    background-color: rgb(32, 39, 47);
    padding: 10%;
}

.Skills-inner-container {
    width: 100%; 
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Skills-card {
    background-color: #1b4552;
    height: 50%;
    width: 50%;
    margin: auto;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
    border-radius: 25px;
}

#Skills-h2 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(32, 39, 47);
     margin: 0;
     padding-bottom: 5%;
}

@media only screen and (max-width: 1000px) {
    #Skills-h2 {
        margin-top: 100%;
    }

    .Skills-container {
        width: auto;
    }
    .skill-icon {
    scale: 0.8;
    }
}
@media only screen and (max-width: 600px) {
    .Skills-inner-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .Skills-card {
        width: 70%;
    }
}