.About-container {
  height: 70vh;
  margin: auto;
  margin-top: 8%;
  padding: 0% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 39, 47);
}

.About-container-header {
  height: 15%;
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
  padding-left: 20%;
}

.About-container-header h2 {
  margin-top: 40px;
  font-size: 40px;
  margin-bottom: 50%;
}

.About-container-body {
  height: 50vh;
  width: 100%;
}

.About-container-square-div {
  display: flex;
  align-items: end;
  justify-content: space-around;
  height: 60%;

}

.About-container-square-boxes {
  border-radius: 25px;
  height: 80%;
  width: 18%;
  background-color: #1b4552;
  box-shadow: 0 0 1px #d74a49, 0 0 10px #d74a49, 0 0 20px rgba(215, 74, 73, 0.7);
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .About-container-square-div {
    display: grid;
    justify-items: center;
    justify-items: end;
    gap: 20%;
    justify-items: center;
  }
  .About-container-square-boxes {
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-top: 10%;
  }
  .About-container, .About-container-body {
    height: auto;
    min-height: inherit;
  }
  .About-container-header {
    display: grid;
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .About-container-square-div {
    margin-bottom: 100%;
  }
}