.Contact-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.Contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.Contact-message input {
  width: 30%;
  height: 13%;
  margin-top: 10px;
  background-color: #1b4552;
  box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
  color: whitesmoke;
  font-size: large;
  border-radius: 10px;
}


.Contact-message textarea {
  max-width: 30%;
  min-width: 30%;
  max-height: 50%;
  min-height: 50%;
  margin-top: 10px;
  background-color: #1b4552;
  color: whitesmoke;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
  0 0 10px rgba(215, 74, 73, 0.7);
  transition: ease-in-out 0.2s;
}

.Contact-message textarea:hover, input:hover {
  box-shadow: 0 0 15px #d74a49, 0 0 20px #d74a49,
    0 0 45px rgba(215, 74, 73, 0.8);
}

#Contact-h2 {
  text-align: center;
  font-size: 40px;
}

.Contact-text {
  display: flex;
  justify-content: center;
}


.Contact-message button {
  background-color: #d74a49;
  color: white;
  border: none;
  padding: 12px 24px;
  margin-top: 25px;
  border-radius: 8px;
  cursor: pointer;

  /* Glow */
  box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);

  /* Smooth movement & glow change */
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;

  position: relative;
  overflow: hidden;
}

/* Hover animation same as Main-body-div-button */
.Contact-message button:hover {
  box-shadow: 0 0 15px #d74a49, 0 0 30px #d74a49,
    0 0 45px rgba(215, 74, 73, 0.8);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* Shine effect */
.Contact-message button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(35deg);
  transition: left 0.55s cubic-bezier(0.19, 1, 0.22, 1);
}

.Contact-message button:hover::after {
  left: 120%;
}


@media only screen and (max-width: 1000px) {
.Contact-message textarea, input {
  min-width: 80%;
  max-width: 100%;
}
}