.Header {
  background-color: rgb(38, 42, 50, 0.5);
  height: 10vh;
  width: 100%;
  box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
  z-index: 2;
  position: fixed;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Header-title {
  position: fixed;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d74a49;
  text-decoration: underline;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.Header-projects a {
  color: #d74a49;
  text-shadow: 0 0 1px #d74a49, 0 0 10px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
}

@media only screen and (max-width: 1000px) {
  a {
    font-size: medium;
  }
}
