.Header {
    background-color: rgb(38, 42, 50, 0.5);
    height: 10vh;
    width: 100%;
    box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
    z-index: 2;
    position: sticky;
    top: 0;
    opacity: 0;
  }