.Skills-container {
    height: 100vh;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
    margin-top: 10%;
}

.Skills-inner-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Skills-card {
    background-color: #1b4552;
    height: 50%;
    width: 50%;
    margin: auto;
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 0 10px #d74a49, 0 0 20px #d74a49,
    0 0 10px rgba(215, 74, 73, 0.7);
    border-radius: 25px;
}
